* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Nue', 'Work Sans', 'Arial', 'sans-serif';
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #4B4848;
}
#bottom-header {
    opacity: 0.5;
}

#page-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
}

    @keyframes fadeAndScale {
        from {
            opacity: 0;
            transform: scale3d(.70, .70, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
}

.button-header {
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #099cec 5%, #099cee 100%);
	background-color:#099cec;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button-header:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

hr {
    border: 0;
    height: 0;
    margin-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



#page-articles {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
    
}

.articles {
    margin-top: 10px;
    border-radius: 25px;
    width: 350px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0, .125);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding: 20px;
    max-width: 100%; 
}

.article-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font: 10px;
}
.article-images:hover {
    transform: scale(1.1);
}

img {
    border-radius: 25px;
    width: 320px;
    height: 220px;
    max-width: 100%;  
    max-height: 100%;    
}

a:link, a:visited {
    color: #1575d5;
    text-decoration: none;
}

.text-footer {
    font-size: .9rem;
}
.footer-notice {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
}

.footer-left {
    float: left !important;
    color: #1575d5;
}

.footer-right {
    float: right !important;
    color: #707070;
}

.body-article {
    padding: 14px;
}
.body-height {
    height: 7.5rem;
}

#div-author-image, #author-description {
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#author-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 100%;
}

#author-description-text {
    font-size: .9rem; 
    width: 50%;
}

#social-logos {
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.logos {
    width:70px;
    height:70px;
    margin-right: 40px;
    margin-top: 40px;
}

#form-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.form-style{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    
    
}
.form-style-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 18px;
    padding-bottom: 3px;
    
}
.form-style label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
    padding-right: 5px;
}
.form-style span.required{
	color:red;
}
.form-style .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style input.input-field, .form-style {
	width: 48%;	
}
.form-style input.input-field, 
.form-style .tel-number-field, 
.form-style .textarea-field
 {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style .input-field:focus, 
.form-style .tel-number-field:focus, 
.form-style .textarea-field:focus,  
.form-style .select-field:focus{
	border: 1px solid #0C0;
}
.form-style .textarea-field{
	height:100px;
    width: 65%;
    
}
.form-style input[type=submit],
.form-style input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
    color: #fff;
    width:40%;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{
	background: #1575d5;
    color: #fff;
    cursor: pointer;
}

#footer {
    left:0px;
    bottom:0px;
    margin-top: 50px;
    height:30px;
    width:100%;
 }

#footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #707070;
}

