* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Nue', 'Work Sans', 'Arial', 'sans-serif';
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #4B4848;
}
#bottom-header {
    opacity: 0.5;
}

#page-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
}

    @keyframes fadeAndScale {
        from {
            opacity: 0;
            transform: scale3d(.70, .70, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
}

.button-header {
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #099cec 5%, #099cee 100%);
	background-color:#099cec;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button-header:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

hr {
    border: 0;
    height: 0;
    margin-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



#page-articles {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
    
}

.articles {
    margin-top: 10px;
    border-radius: 25px;
    width: 350px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0, .125);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding: 20px;
    max-width: 100%; 
}

.article-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font: 10px;
}

img {
    border-radius: 25px;
    width: 320px;
    height: 220px;
    max-width: 100%;  
    max-height: 100%;    
}

a:link, a:visited {
    color: #1575d5;
    text-decoration: none;
}

.text-footer {
    font-size: .9rem;
}
.footer-notice {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    border-top: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
}

.footer-left {
    float: left !important;
    color: #1575d5;
}

.footer-right {
    float: right !important;
    color: #707070;
}

.body-article {
    padding: 14px;
}
.body-height {
    height: 7.5rem;
}