* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Nue', 'Work Sans', 'Arial', 'sans-serif';
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
#bottom-header {
    opacity: 0.5;
}

#page-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: fadeAndScale .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: center bottom;
    flex-wrap: wrap;
}

    @keyframes fadeAndScale {
        from {
            opacity: 0;
            transform: scale3d(.70, .70, 1);
        }
        to {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
}

.button-header {
    margin-right: 20px;
    margin-top: 50px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #099cec 5%, #099cee 100%);
	background-color:#099cec;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button-header:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

hr {
    border: 0;
    height: 0;
    margin-top: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
